.user_profile {
    display: flex;

}

.user_profile_img {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius);
    margin-right: 10px;
}

.user_profile_info {
    display: flex;
    flex-direction: column;
}