.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--main-color);
}

.nav_list {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_btn {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link i {
    font-size: 50px;
}